<div class="container-fluid sadashboardcs">
  <app-page-title title="S Admin Dashboard" [breadcrumbItems]="breadCrumbItems"></app-page-title>
	<div class="row">
	<div class="col-lg-12">
	<div class="card" id="cardtabgs">
	<div class="card-body"> 
    <h4 class="card-title">Credit Card</h4>
	  <div class="row" id="bucard">
      <div class="col-lg-1"></div>
			<div class="col-lg-3">  	
			<div  echarts [options]="gaugeChart" class="demo-chart"></div>
			 <span class="cpufirst">CPU</span> 
			</div>
			<div class="col-lg-3"> 
			<div  echarts [options]="gaugeMemory" class="demo-chart"></div>   
      <span class="memosecound">Memory</span> 
			</div>
			<div class="col-lg-3"> 
			<div  echarts [options]="gaugeStorage" class="demo-chart"></div> 
      <span class="storfard">Storage</span>        
			</div>
       <div class="col-lg-2">
         <span  class="detailsforth">Details..</span>
       </div>
	  </div>
	</div>
	</div>
	</div>

  <div class="col-lg-12">
  <div class="card" id="cardtabgs">
  <div class="card-body"> 
    <h4 class="card-title">HR</h4>
    <div class="row" id="bucard">
      <div class="col-lg-1"></div>
      <div class="col-lg-3">    
      <div  echarts [options]="gaugeChart" class="demo-chart"></div>
       <span class="cpufirst">CPU</span> 
      </div>
      <div class="col-lg-3"> 
      <div  echarts [options]="gaugeMemory" class="demo-chart"></div>   
      <span class="memosecound">Memory</span> 
      </div>
      <div class="col-lg-3"> 
      <div  echarts [options]="gaugeStorage" class="demo-chart"></div> 
      <span class="storfard">Storage</span>        
      </div>
       <div class="col-lg-2">
         <span  class="detailsforth">Details..</span>
       </div>
    </div>
  </div>
  </div>
  </div>

  <div class="col-lg-12">
  <div class="card" id="cardtabgs">
  <div class="card-body"> 
    <h4 class="card-title">Finance</h4>
    <div class="row" id="bucard">
      <div class="col-lg-1"></div>
      <div class="col-lg-3">    
      <div  echarts [options]="gaugeChart" class="demo-chart"></div>
       <span class="cpufirst">CPU</span> 
      </div>
      <div class="col-lg-3"> 
      <div  echarts [options]="gaugeMemory" class="demo-chart"></div>   
      <span class="memosecound">Memory</span> 
      </div>
      <div class="col-lg-3"> 
      <div  echarts [options]="gaugeStorage" class="demo-chart"></div> 
      <span class="storfard">Storage</span>        
      </div>
       <div class="col-lg-2">
         <span  class="detailsforth">Details..</span>
       </div>
    </div>
  </div>
  </div>
  </div>

  <div class="col-lg-12">
  <div class="card" id="cardtabgs">
  <div class="card-body"> 
    <h4 class="card-title">Mortgage</h4>
    <div class="row" id="bucard">
      <div class="col-lg-1"></div>
      <div class="col-lg-3">    
      <div  echarts [options]="gaugeChart" class="demo-chart"></div>
       <span class="cpufirst">CPU</span> 
      </div>
      <div class="col-lg-3"> 
      <div  echarts [options]="gaugeMemory" class="demo-chart"></div>   
      <span class="memosecound">Memory</span> 
      </div>
      <div class="col-lg-3"> 
      <div  echarts [options]="gaugeStorage" class="demo-chart"></div> 
      <span class="storfard">Storage</span>        
      </div>
       <div class="col-lg-2">
         <span  class="detailsforth">Details..</span>
       </div>
    </div>
  </div>
  </div>
  </div>


	</div>


</div>
