th.stsrm::before {
    display: none;
}

th.stsrm::after {
    display: none;
}

.test-rightbtn{
	position: absolute;
    right: 27px;
    top: 94px;
}

.btnuser {
    position: absolute;
    right: 24px;
    top: 85px;
}

.btnuadd {
    margin-right: 8px;
    position: relative;
}

.acalrtto{
    position: absolute;
    right: 43px;
    margin-top: -25px;
}