<div class="container-fluid">
  <app-page-title title="Users" [breadcrumbItems]="breadCrumbItems"></app-page-title>
<div class="btnuser">
<button type="button" (click)="openModal(content)" class="btn btn-info btnuadd">Add User</button>
</div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
         <!--  <h4 class="card-title">Users List</h4> -->
         <!--  <p class="card-sub-title">
            Example of datatable.
          </p> -->
          <div class="row mb-md-2">
            <!-- <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="tickets-table_length"><label
                  class="d-inline-flex align-items-center">Show
                  <select name="tickets-table_length" aria-controls="tickets-table" name="pageSize"
                    [(ngModel)]="service.pageSize"
                    class="custom-select custom-select-sm form-control form-control-sm mx-2">
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="25">25</option>
                    <option [ngValue]="50">50</option>
                    <option [ngValue]="100">100</option>
                  </select> entries</label></div>
            </div> -->
            <!-- Search -->
            <div class="col-sm-12 col-md-12">
              <div id="tickets-table_filter" class="dataTables_filter text-md-right"><label
                  class="d-inline-flex align-items-center">Search:
                  <input type="text" name="searchTerm" class="form-control form-control-sm ml-2"
                    aria-controls="tickets-table" [(ngModel)]="service.searchTerm"></label></div>
            </div>
            <!-- End search -->
          </div>
          <!-- Table -->
          <div class="table-responsive">
            <table id="basic-datatable"
              class="table table-bordered dt-responsive nowrap datatables no-footer dtr-inline">
              <thead>
                <tr>
                  <th sortable="name" (sort)="onSort($event)">Name</th>
                  <th sortable="role" class="stsrm"  (sort)="onSort($event)">Role</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let table of tables$ | async">
                  <td>
                  	<!--  <i class="far fa-check-square"></i>&nbsp;  -->
                    <ngb-highlight [result]="table.name" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.role" [term]="service.searchTerm"></ngb-highlight>
                     <div class="dropdown acalrtto" ngbDropdown placement="bottom-right">
                    <a href="javascript: void(0);" class="dropdown-toggle card-drop" ngbDropdownToggle>
                      <i class="mdi mdi-dots-horizontal font-size-18"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                     <a class="dropdown-item" href="javascript: void(0);">Remove</a>     
                    </div>
                  </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- End table -->
          <div class="row justify-content-md-between align-items-md-center mt-2">
            <div class="col-sm-12 col-md-5">
              <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">Showing
                {{service.startIndex}} to
                {{service.endIndex}} of {{service.totalRecords}}
                entries
              </div>
            </div>
            <!-- Pagination -->
            <div class="col-sm-12 col-md-5">
              <div class="text-md-right float-md-right pagination-rounded">
                <ngb-pagination [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize">
                </ngb-pagination>
              </div>
            </div>
            <!-- End Pagination -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Standard Modal -->
<ng-template #content role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Add User</h5>
    <button type="button" class="close" aria-hidden="true" (click)="modal.dismiss('Cross click')">×</button>
  </div>
  <div class="modal-body">
    <div class="form-group row">
            <label for="example-text-input" class="col-md-2 col-form-label">Email</label>
            <div class="col-md-10">
              <input class="form-control" type="text" value="john@abc.com" id="example-text-input">
            </div>
      </div>

      <div class="form-group row">
            <label class="col-md-2 col-form-label">Role</label>
            <div class="col-md-10">
              <select class="form-control">
                <option>Org Admin</option>
                <option>Developer</option>
              </select>
            </div>
      </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    <button type="button" class="btn btn-primary">Create</button>
  </div>
</ng-template>

