th.stsrm::before {
    display: none;
}

th.stsrm::after {
    display: none;
}

.test-rightbtn{
	position: absolute;
    right: 27px;
    top: 80px;
}

.pointer{
  cursor: pointer;
}

.cnagsnamespcsshead{ 
     position: absolute;
    top: 80px;
    right: 144px;
}

.nametitles{
    position: relative;
    margin-top: -6px;
}