th.stsrm::before {
    display: none;
}

th.stsrm::after {
    display: none;
}

.test-rightbtn{
	position: absolute;
    right: 27px;
    top: 80px;
}

.pointer{
  cursor: pointer;
}

.table tr.active td {  
	background-color:skyblue !important;  
	color: white;  
} 

.table tr{
	cursor: pointer;
}