<div class="container-fluid">
<app-page-title title="" [breadcrumbItems]="breadCrumbItems"></app-page-title>
<div class="test-rightbtn">
  <button type="button" (click)="openModal(content1)" [disabled]="click" class="btn btn-info btn-sm" style="margin-right: 10px;">Change Quota</button>
  <button type="button" (click)="openModal(content)" class="btn btn-info btn-sm">Request a Namespace</button>
</div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
         <!--  <h4 class="card-title">List</h4> -->
         <!--  <p class="card-sub-title">
            Example of datatable.
          </p> -->
          <div class="row mb-md-2"> 
            <!-- <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="tickets-table_length"><label
                  class="d-inline-flex align-items-center">Show
                  <select name="tickets-table_length" aria-controls="tickets-table" name="pageSize"
                    [(ngModel)]="service.pageSize"
                    class="custom-select custom-select-sm form-control form-control-sm mx-2">
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="25">25</option>
                    <option [ngValue]="50">50</option>
                    <option [ngValue]="100">100</option>
                  </select> entries</label></div>
            </div> -->
            <!-- Search -->
            <div class="col-sm-12 col-md-12">
              <div id="tickets-table_filter" class="dataTables_filter text-md-right"><label
                  class="d-inline-flex align-items-center">Search:
                  <input type="text" name="searchTerm" class="form-control form-control-sm ml-2"
                    aria-controls="tickets-table" [(ngModel)]="service.searchTerm"></label></div>
            </div>
            <!-- End search -->
          </div>
          <!-- Table -->
          <div class="table-responsive">
            <table id="basic-datatable"
              class="table table-bordered dt-responsive nowrap datatables no-footer dtr-inline">
              <thead>
                <tr>
                  <th sortable="namespace" (sort)="onSort($event)">Namespaces</th>
                  <th sortable="environ" class="stsrm"  (sort)="onSort($event)">Purpose</th>
                  <th sortable="created" class="stsrm"  (sort)="onSort($event)">CreatedDate</th>
                  <th sortable="loca" (sort)="onSort($event)">Location</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let table of tables$ | async;let i = index" (click)="ClickedRow(i)" [ngClass]="{'active': HighlightRow == i}">
                  <td>
                  	<!--  <i class="far fa-check-square"></i>&nbsp;  -->
                    <!-- <ngb-highlight class="text-primary pointer" routerLink="/bu/namespaces/user" routerLinkActive="active" [result]="table.namespace" [term]="service.searchTerm"></ngb-highlight> -->
                     <ngb-highlight  [result]="table.namespace" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.environ" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.created" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.loca" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- End table -->
          <div class="row justify-content-md-between align-items-md-center mt-2">
            <div class="col-sm-12 col-md-5">
              <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">Showing
                {{service.startIndex}} to
                {{service.endIndex}} of {{service.totalRecords}}
                entries
              </div>
            </div>
            <!-- Pagination -->
            <div class="col-sm-12 col-md-5">
              <div class="text-md-right float-md-right pagination-rounded">
                <ngb-pagination [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize">
                </ngb-pagination>
              </div>
            </div>
            <!-- End Pagination -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


 <!-- Standard Modal -->
<ng-template #content role="document" let-modal>
  <div class="modal-header">
    <h6 class="modal-title mt-0">Request for Kubernetes Namespace</h6>
    <button type="button" class="close" aria-hidden="true" (click)="modal.dismiss('Cross click')">×</button>
  </div>
  <div class="modal-body">
  

      <div class="form-group row">
            <label class="col-md-2 col-form-label">Purpose</label>
            <div class="col-md-10">
              <select class="form-control form-control-sm">
                <option>Test</option>
                <option>Test1</option>
              </select>
            </div>
      </div>

        <div class="form-group row">
            <label class="col-md-2 col-form-label">Locaion</label>
            <div class="col-md-10">
              <select class="form-control form-control-sm">
                <option>DC1</option>
                <option>DC2</option>
              </select>
            </div>
      </div>

       <div class="form-group row">
            <label for="example-text-input" class="col-md-2 col-form-label">CPU</label>
            <div class="col-md-10">
              <input class="form-control form-control-sm" type="text" value="16 vCPU" id="example-text-input">
            </div>
      </div>


        <div class="form-group row">
            <label class="col-md-2 col-form-label">Memory</label>
            <div class="col-md-10">
              <select class="form-control form-control-sm">
                <option>16 GB</option>
                <option>32 GB</option>
              </select>
            </div>
      </div>

        <div class="form-group row">
            <label class="col-md-2 col-form-label">Storage</label>
            <div class="col-md-10">
              <select class="form-control form-control-sm">
                <option>100 GB</option>
                <option>500 GB</option>
              </select>
            </div>
      </div>

      

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light btn-sm" (click)="modal.close('Close click')">Close</button>
    <button type="button" class="btn btn-primary btn-sm">Request Namespace</button>
  </div>
</ng-template>

<ng-template #content1 role="document" let-modal>
  <div class="modal-header">
    <h6 class="modal-title mt-0">Change Quota Namespace1</h6>
    <button type="button" class="close" aria-hidden="true" (click)="modal.dismiss('Cross click')">×</button>
  </div>
  <div class="modal-body">

      <div class="form-group row">
            <label class="col-md-2 col-form-label">CPU</label>
            <div class="col-md-10">
              <select class="form-control form-control-sm">
                <option>16 vCPU</option>
                <option>32 vCPU</option>
                <option>64 vCPU</option>
                <option>128 vCPU</option>
              </select>
            </div>
      </div>

       <div class="form-group row">
            <label class="col-md-2 col-form-label">Memory</label>
            <div class="col-md-10">
              <select class="form-control form-control-sm">
                <option>128 GB</option>
                <option>256 GB</option>
                <option>500 GB</option>
              </select>
            </div>
      </div>


       <div class="form-group row">
            <label class="col-md-2 col-form-label">Storage</label>
            <div class="col-md-10">
              <select class="form-control form-control-sm">
                <option>100 GB</option>
                <option>500 GB</option>
                <option>1024 GB</option>
              </select>
            </div>
      </div>


     

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light btn-sm" (click)="modal.close('Close click')">Close</button>
    <button type="button" class="btn btn-primary btn-sm">Request Quota Change</button>
  </div>
</ng-template>


