th.stsrm::before {
    display: none;
}

th.stsrm::after {
    display: none;
}

.test-rightbtn{
	position: absolute;
    right: 27px;
    top: 94px;
}

.acalrtto{
    position: absolute;
    right: 43px;
    margin-top: -25px;
}