<!-- <div class="container-fluid">


  <app-page-title title="Cluster Nodes" [breadcrumbItems]="breadCrumbItems"></app-page-title>



  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="invoice-title">
   
            <div class="mb-4">
            	<h4 class="card-title">Details</h4>
            
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-12">
              <address>
                <strong>Name:</strong><span class="badge badge-soft-primary font-size-11 m-1">beta:kubernetes.io/arch:amd64</span> <span class="badge badge-soft-primary font-size-11 m-1">beta:kubernetes.io/instance-type:nl</span><span class="badge badge-soft-primary font-size-11 m-1"> beta:kubernetes.io/os:linux </span><span class="badge badge-soft-primary font-size-11 m-1">failure-domain.beta.kubernetes.io/re...</span><span class="badge badge-soft-primary font-size-11 m-1"> failure-domain.beta.kubernetes.io/z...</span>
              </address>
              <address>
                <strong>Labels:</strong> <span class="badge badge-soft-primary font-size-11 m-1">node.alpha.kubernetes.io/ttl:0 </span><span class="badge badge-soft-primary font-size-11 m-1"> valumes.kubernetes.io/controller-managed-attach-detach: true</span>
              </address>
              <address>
                <strong>Annotations:</strong> node.alpha.kubernetes.io/ttl:0 valumes.kubernetes.io/controller-managed-attach-detach: true
              </address>
              <address>
                <strong>Creation Time:</strong> 2020-06-02-18T13:51 UTC
              </address>
              <address>
                <strong>Addresses:</strong> InternalIp:10.128.15.230 ExternalIp:35.232.74.208 Hostname:nodes-v639
              </address>
              <address>
                <strong>Pod CIDR:</strong> 100.96.3.0/24
              </address>
              <address>
                <strong>provider ID:</strong> gce//kube-testing-230111/us-central1-a/nodes-v639
              </address>
              <address>
                <strong>Unschedulable:</strong> false
              </address>
            <div class="py-2 mt-3">
            <h6 class="font-size-15 font-weight-bold">System info</h6>
           </div>
              <address>
                <strong>Machine ID:</strong> be7505ac-57a2-4f79-a9d5-1c36c1ccd481
              </address>
              <address>
                <strong>System UUID:</strong> be7505ac-57a2-4f79-a9d5-1c36c1ccd481
              </address>
              <address>
                <strong>Boot ID:</strong> be7505ac-57a2-4f79-a9d5-1c36c1ccd481
              </address>
               <address>
                <strong>Kernel Version:</strong> 4.4.111+ 
              </address>
              <address>
                <strong>OS Image:</strong> Container-Optimized OS from Google
              </address>
              <address>
                <strong>Container Runtime Version:</strong> docker://17.3.2
              </address>
              <address>
                <strong>Kubelet Version:</strong> v1.10.12
              </address>
              <address>
                <strong>Kube-Proxy Version:</strong> v1.10.12
              </address>
              <address>
                <strong>Operating system:</strong> linux
              </address>
                <address>
                <strong>Architecture:</strong> amd64
              </address>

            </div>        
          </div>
      
        </div>
      </div>
    </div>
  </div>
</div> -->

 <!-- container-fluid -->


<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="invoice-title">
           <!--  <h4 class="float-right font-size-16">Order # 12345</h4> -->
            <div class="mb-4">
            	<h4 class="card-title coreed">Namespace1</h4>
              <!-- <img src="assets/images/logo-dark.png" alt="logo" height="20" /> -->
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-4">
		  <apx-chart class="apex-charts" dir="ltr" [series]="basicRadialBarChart.series"
            [chart]="basicRadialBarChart.chart" [plotOptions]="basicRadialBarChart.plotOptions"
            [labels]="basicRadialBarChart.labels" [colors]="basicRadialBarChart.colors">
          </apx-chart>			
              <address class="textalign">
                <strong>CPU allocation (cores)</strong><br>   
                 <span class="requestscss"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>Requests</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>0.64</span> <br>
                 <span class="requestscssse"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>Limits</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>0.52</span> <br>
                 <span>Capacity</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>1</span>
              </address>  
                         
            </div>   

             <div class="col-4">
             <apx-chart class="apex-charts" dir="ltr" [series]="basicRadialBarChartMemory.series"
            [chart]="basicRadialBarChartMemory.chart" [plotOptions]="basicRadialBarChartMemory.plotOptions"
            [labels]="basicRadialBarChartMemory.labels" [colors]="basicRadialBarChartMemory.colors">
          </apx-chart>			
              <address class="textalign">
                <strong>Memory allocation (bytes)</strong><br>   
                 <span class="requestscss"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>Requests</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>380Mi</span> <br>
                 <span class="requestscssse"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>Limits</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>690 Mi</span> <br>
                 <span>Capacity</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>3.619 Gi</span>
              </address>               
            </div>   
             <div class="col-4">
              <apx-chart class="apex-charts" dir="ltr" [series]="basicRadialBarChartPods.series"[chart]="basicRadialBarChartPods.chart" [plotOptions]="basicRadialBarChartPods.plotOptions"
            [labels]="basicRadialBarChartPods.labels" [colors]="basicRadialBarChartPods.colors">
          </apx-chart>			 
              <address class="textalign">
                <strong>Pods allocation</strong><br>   
                 <span class="requestscss"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>Allocation</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>29</span> <br>
                 <span>Capacity</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>110</span>
              </address>           
            </div>        
          </div>      
        <!--   <div class="py-2 mt-3">
            <h3 class="font-size-15 font-weight-bold">Order summary</h3>
          </div>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th style="width: 70px;">No.</th>
                  <th>Item</th>
                  <th class="text-right">Price</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>01</td>
                  <td>Skote - Bootstrap 4 Admin Dashboard</td>
                  <td class="text-right">$499.00</td>
                </tr>

                <tr>
                  <td>02</td>
                  <td>Skote - Bootstrap 4 Landing Template</td>
                  <td class="text-right">$399.00</td>
                </tr>

                <tr>
                  <td>03</td>
                  <td>Veltrix - Bootstrap 4 Admin Template</td>
                  <td class="text-right">$499.00</td>
                </tr>
                <tr>
                  <td colspan="2" class="text-right">Sub Total</td>
                  <td class="text-right">$1397.00</td>
                </tr>
                <tr>
                  <td colspan="2" class="border-0 text-right">
                    <strong>Shipping</strong></td>
                  <td class="border-0 text-right">$13.00</td>
                </tr>
                <tr>
                  <td colspan="2" class="border-0 text-right">
                    <strong>Total</strong></td>
                  <td class="border-0 text-right">
                    <h4 class="m-0">$1410.00</h4>
                  </td>
                </tr>
              </tbody>
            </table>
          </div> -->
          <!-- <div class="d-print-none">
            <div class="float-right">
              <a href="javascript:window.print()" class="btn btn-success"><i class="fa fa-print"></i></a>
              <a href="javascript: void(0);" class="btn btn-primary w-md ml-1">Send</a>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->

</div> <!-- container-fluid -->

<!-- <div class="container-fluid">
<div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Condition</h4>
          <div class="table-responsive">
            <table class="table mb-0">
              <thead>
                <tr>
                  <th>Type</th>
                  <th>Status</th>
                  <th>LastHeartbeatTime</th>
                  <th>LastTransitionTime</th>
                  <th>Reason</th>
                  <th>Message</th>
                </tr>
              </thead>
              <tbody>
                <tr>                 
                  <td>NetworkUnavailable</td>
                  <td>False</td>
                  <td>22 minutes</td>
                  <td>22 minutes</td>
                  <td>RouteCreated</td>
                  <td>RouteController Created a route</td>
                </tr>
                <tr>
                  <td>OutOfDisk</td>
                  <td>False</td>
                  <td>-</td>
                  <td>23 minutes</td>
                  <td>KubeletHasSufficientDisk</td>
                  <td>kubelet has sufficient disk space available</td>
                </tr>
                <tr>
                  <td>MemoryPressure</td>
                  <td>False</td>
                  <td>-</td>
                  <td>23 minutes</td>
                  <td>KubeletHasSufficientMemory</td>
                  <td>kubelet has sufficient memory available</td>
                </tr>
                <tr>                 
                  <td>DiskPressure</td>
                  <td>False</td>
                  <td>-</td>
                  <td>23 minutes</td>
                  <td>KubeletHasNoDiskPressure</td>
                  <td>kubelet has no disk pressure</td>
                </tr>
                <tr>
                  <td>PIDPressure</td>
                  <td>False</td>
                  <td>-</td>
                  <td>23 minutes</td>
                  <td>KubeletHasSufficientPID</td>
                  <td>kubelet has sufficient PID available</td>
                </tr>
                <tr>
                  <td>Ready</td>
                  <td>True</td>
                  <td>-</td>
                  <td>22 minutes</td>
                  <td>KubeletReady</td>
                  <td>kubelet is posting ready status. AppArmor enabled</td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
</div> -->