.requestscss{
	background: #34c38f;
    color: #34c38f;
    height: 12px;
    /* left: 0; */
    /* top: 0; */
    width: 12px;
    border-width: 0px;
    border-color: white;
    border-radius: 2px;
    /* display: block; */
    /* text-align: center; */
    position: absolute;
}

.requestscssse{
	background: #556ee6;
    color: #556ee6;
    height: 12px;
    /* left: 0; */
    /* top: 0; */
    width: 12px;
    border-width: 0px;
    border-color: white;
    border-radius: 2px;
    /* display: block; */
    /* text-align: center; */
    position: absolute;
}

.textalign{
 text-align: center;
}