<div class="container-fluid budashboardcs">
  <app-page-title title="BU Dashboard" [breadcrumbItems]="breadCrumbItems"></app-page-title>
	<div class="row">
	<div class="col-lg-12">
	<div class="card" id="cardtabgs">
	<div class="card-body"> 
    <h4 class="card-title ">Namespace 1</h4>
	  <div class="row" id="bucard">
      <div class="col-lg-1"></div>
			<div class="col-lg-3">  	
			<div  echarts [options]="gaugeChart" class="demo-chart"></div>
			 <span class="cpufirst">CPU</span> 
			</div>
			<div class="col-lg-3"> 
			<div  echarts [options]="gaugeMemory" class="demo-chart"></div>   
      <span class="memosecound">Memory</span> 
			</div>
			<div class="col-lg-3"> 
			<div  echarts [options]="gaugeStorage" class="demo-chart"></div> 
      <span class="storfard">Storage</span>        
			</div>
       <div class="col-lg-2">
         <span  class="detailsforth">Details..</span>
       </div>
	  </div>
	</div>
	</div>
	</div>
	</div>


</div>
<div class="container-fluid">
<div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
         <!--  <h4 class="card-title">Condition</h4> -->
          <div class="table-responsive">
            <table class="table mb-0">
              <thead>
                <tr>
                  <th>Pods Name</th>
                  <th>Node</th>
                  <th>Status</th>
                  <th>Age</th>
                  <th>CPU</th>
                  <th>Memory</th>
                </tr>
              </thead>
              <tbody>
                <tr>                 
                  <td>Pod 1</td>
                  <td>Node 1</td>
                  <td>Running</td>
                  <td>5 Mins</td>
                  <td>3</td>
                  <td>3 GB</td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>