<div class="container-fluid budashboardcs">
  <!-- <app-page-title title="BU Dashboard" [breadcrumbItems]="breadCrumbItems"></app-page-title> -->


<div class="row">
  
      <div class="col-md-4 text-center">
      <div class="card card-body">
        <h5 class="card-title1">Total Memory</h5>
        <h3 class="card-title mt-0">1024 GB</h3>         
           <ngb-progressbar [value]="1024" type="danger" [max]="1500" class="demo-progress" height=".44rem"></ngb-progressbar>           
      </div>
    </div>


     <div class="col-md-4 text-center">
      <div class="card card-body">
        <h5 class="card-title1">Total Storage</h5>
        <h3 class="card-title mt-0">3 TB</h3>           
           <ngb-progressbar [value]="3" type="success" [max]="10" class="demo-progress" height=".44rem"></ngb-progressbar>           
      </div>
    </div>

 <div class="col-md-4 text-center">
      <div class="card card-body">
        <h5 class="card-title1">Total CPU</h5>
        <h3 class="card-title mt-0">322 vCPU</h3>           
           <ngb-progressbar [value]="322" type="success" [max]="650" class="demo-progress" height=".44rem"></ngb-progressbar>           
      </div>
    </div>

</div>



	<div class="row">
	<div class="col-lg-12">
	  <div class="row">
      <!-- <div class="col-lg-1"></div> -->
			<div class="col-lg-4">
        <div class="card">
          <div class="card-body"> 
            <h4 class="card-title ">Namespace1</h4>
            <div class="col-lg-12">
              <div class="col-lg-6" style="float: left;margin-top: 5px;">
                <apx-chart dir="ltr" class="apex-charts" [series]="monthlyEarningChart.series"
                  [chart]="monthlyEarningChart.chart" [legend]="monthlyEarningChart.legend"
                  [colors]="monthlyEarningChart.colors" [labels]="monthlyEarningChart.labels"
                  [stroke]="monthlyEarningChart.stroke" [plotOptions]="monthlyEarningChart.plotOptions">
                </apx-chart>
                <div class="storageChart">
                  <h3 class="card-title mt-0">256 GB</h3>
                  <h6>Storage <i class="mdi mdi-circle text-success align-middle mr-1"></i></h6>
                </div>
                  <!-- <div  echarts [options]="gaugeChart" class="demo-chart"></div>  -->
              </div>
            <div class="col-lg-6 columnChart">
            <apx-chart class="apex-charts" dir="ltr" [series]="columnlabelChart.series" [chart]="columnlabelChart.chart" [title]="columnlabelChart.title"
            [plotOptions]="columnlabelChart.plotOptions" [yaxis]="columnlabelChart.yaxis" [stroke]="columnlabelChart.stroke"
            [dataLabels]="columnlabelChart.dataLabels" [xaxis]="columnlabelChart.xaxis"
            [legend]="columnlabelChart.legend" [colors]="columnlabelChart.colors" [fill]="columnlabelChart.fill">
          </apx-chart>
            <div class="details">
              <h6><a href="">Details</a></h6>
            </div>
        </div>
        </div>
			<!-- <div  echarts [options]="gaugeChart" class="demo-chart"></div> -->
       <!-- <span class="cpufirst">CPU</span>  -->
       </div>
       </div>
			</div>
			<div class="col-lg-4">
        <div class="card">
          <div class="card-body"> 
            <h4 class="card-title ">Namespace2</h4>
            <div class="col-lg-12">
              <div class="col-lg-6" style="float: left;margin-top: 5px;">
                <apx-chart dir="ltr" class="apex-charts" [series]="monthlyEarningChart.series"
                  [chart]="monthlyEarningChart.chart" [legend]="monthlyEarningChart.legend"
                  [colors]="monthlyEarningChart.colors" [labels]="monthlyEarningChart.labels"
                  [stroke]="monthlyEarningChart.stroke" [plotOptions]="monthlyEarningChart.plotOptions">
                </apx-chart>
                <div class="storageChart">
                  <h3 class="card-title mt-0">256 GB</h3>
                  <h6>Storage <i class="mdi mdi-circle text-success align-middle mr-1"></i></h6>
                </div>
                  <!-- <div  echarts [options]="gaugeChart" class="demo-chart"></div>  -->
              </div>
            <div class="col-lg-6 columnChart">
            <apx-chart class="apex-charts" dir="ltr" [series]="columnlabelChart.series" [chart]="columnlabelChart.chart" [title]="columnlabelChart.title"
            [plotOptions]="columnlabelChart.plotOptions" [yaxis]="columnlabelChart.yaxis" [stroke]="columnlabelChart.stroke"
            [dataLabels]="columnlabelChart.dataLabels" [xaxis]="columnlabelChart.xaxis"
            [legend]="columnlabelChart.legend" [colors]="columnlabelChart.colors" [fill]="columnlabelChart.fill">
          </apx-chart>
          <div class="details">
              <h6><a href="">Details</a></h6>
            </div>
        </div>
        </div>
      <!-- <div  echarts [options]="gaugeChart" class="demo-chart"></div> -->
       <!-- <span class="cpufirst">CPU</span>  -->
       </div>
       </div>
      </div>
			<div class="col-lg-4">
        <div class="card">
          <div class="card-body"> 
            <h4 class="card-title ">Namespace3</h4>
            <div class="col-lg-12">
              <div class="col-lg-6" style="float: left;margin-top: 5px;">
                <apx-chart dir="ltr" class="apex-charts" [series]="monthlyEarningChart.series"
                  [chart]="monthlyEarningChart.chart" [legend]="monthlyEarningChart.legend"
                  [colors]="monthlyEarningChart.colors" [labels]="monthlyEarningChart.labels"
                  [stroke]="monthlyEarningChart.stroke" [plotOptions]="monthlyEarningChart.plotOptions">
                </apx-chart>
                <div class="storageChart">
                  <h3 class="card-title mt-0">256 GB</h3>
                  <h6>Storage <i class="mdi mdi-circle text-success align-middle mr-1"></i></h6>
                </div>
                  <!-- <div  echarts [options]="gaugeChart" class="demo-chart"></div>  -->
              </div>
            <div class="col-lg-6 columnChart">
            <apx-chart class="apex-charts" dir="ltr" [series]="columnlabelChart.series" [chart]="columnlabelChart.chart" [title]="columnlabelChart.title"
            [plotOptions]="columnlabelChart.plotOptions" [yaxis]="columnlabelChart.yaxis" [stroke]="columnlabelChart.stroke"
            [dataLabels]="columnlabelChart.dataLabels" [xaxis]="columnlabelChart.xaxis"
            [legend]="columnlabelChart.legend" [colors]="columnlabelChart.colors" [fill]="columnlabelChart.fill">
          </apx-chart> 
          <div class="details">
              <h6><a href="">Details</a></h6>
            </div> 
        </div>
        </div>
      <!-- <div  echarts [options]="gaugeChart" class="demo-chart"></div> -->
       <!-- <span class="cpufirst">CPU</span>  -->
       </div>
       </div>
      </div>
       <!-- <div class="col-lg-2">
         <span  class="detailsforth">Details..</span>
       </div> -->
	  </div>
	</div>
	</div>


</div>
<div class="container-fluid">
<div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Workloads</h4>
          <div class="table-responsive" style="margin-top: 15px;">
            <table id="basic-datatable"
              class="table table-bordered table-striped dt-responsive nowrap datatables no-footer dtr-inline">
              <thead>
                <tr>
                  <th sortable="pod" (sort)="onSort($event)">POD Name</th>
                  <th sortable="node" class="stsrm"  (sort)="onSort($event)">Node</th>
                  <th sortable="status" class="stsrm"  (sort)="onSort($event)">Status</th>
                  <th sortable="age" (sort)="onSort($event)">Age</th>
                  <th sortable="cpu" (sort)="onSort($event)">CPU</th>
                  <th sortable="memory" (sort)="onSort($event)">Memory</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let table of tables$ | async">
                  <td>
                    <!--  <i class="far fa-check-square"></i>&nbsp;  -->
                    <ngb-highlight  [result]="table.pod"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.node"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.status"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.age"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.cpu"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.memory"></ngb-highlight>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row justify-content-md-between align-items-md-center mt-2">
            <div class="col-sm-12 col-md-5">
              <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">Showing
                {{service.startIndex}} to
                {{service.endIndex}} of {{service.totalRecords}}
                entries
              </div>
            </div>
            <!-- Pagination -->
            <div class="col-sm-12 col-md-5">
              <div class="text-md-right float-md-right pagination-rounded">
                <ngb-pagination [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize">
                </ngb-pagination>
              </div>
            </div>
            <!-- End Pagination -->
          </div>

        </div>
      </div>
    </div>
  </div>
</div>