.budashboardcs div#resizefont >div >div >canvas {
    position: relative;
    height: 200px !important;
    width: auto !important;
}

.budashboardcs div#bucard {
    position: relative;
    bottom: 100px;
}

.budashboardcs #cardtabgs{
	position: relative;
    max-height: 256px;
}


.budashboardcs span.cpufirst {
    position: absolute;
    top: 261px;
    left: 41%;
    font-size: 16px;
    font-weight: 500;
}

.budashboardcs span.memosecound {
    position: absolute;
    top: 261px;
    left: 36%;
    font-size: 16px;
    font-weight: 500;
}

.budashboardcs span.storfard {
    position: absolute;
    top: 261px;
    left: 38%;
    font-size: 16px;
    font-weight: 500;
}

.budashboardcs span.detailsforth {
    position: absolute;
    top: 261px;
    left: 38%;
    font-size: 15px;
    color:#556ee6;
    cursor: pointer;
}

.budashboardcs .demo-progress {
    width: 50%;
    margin: 0px auto;
}

.details{
    float: right;
    margin-top: 36px;
}

.storageChart h6 i{
    font-size: 8px;
    float: right;
    margin-top: 4px;
}

.card-title1{
    font-size: 12px;
}

.columnChart{
    float: right;
    margin-top: -40px;
}

.card-title{
    font-size: 14px;
}