th.stsrm::before {
    display: none;
}

th.stsrm::after {
    display: none;
}

.test-rightbtn{
	position: absolute;
    right: 27px;
    top: 80px;
}

.pointer{
  cursor: pointer;
}

.navbarshow{
	padding: 0rem 1rem !important;
}