<div class="container-fluid">
  <app-page-title title="" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <div class="test-rightbtn">
    <button type="button" class="btn btn-info btn-sm" style="margin-right: 10px;">Create Project</button>
    <button type="button" (click)="openModal(content)" [disabled]="click" class="btn btn-info btn-sm">Reports</button>
  </div>
  <!-- <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <ul ngbNav #justifiednav="ngbNav" [activeId]="1" class="nav-pills nav-justified">
            <li [ngbNavItem]="1">
              <a ngbNavLink class="navbarshow">
                <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                <span class="d-none d-sm-block btn-sm">General</span>
              </a>
              <ng-template ngbNavContent>
                <ng-template [ngTemplateOutlet]="General"></ng-template>
              </ng-template> 
            </li>
            <li [ngbNavItem]="2">
              <a ngbNavLink class="navbarshow">
                <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                <span class="d-none d-sm-block btn-sm">Reports</span>
              </a>
              <ng-template ngbNavContent>
                <ng-template [ngTemplateOutlet]="reports"></ng-template>
              </ng-template>
            </li>
          </ul>
          <div [ngbNavOutlet]="justifiednav"></div>
        </div>
      </div>
    </div>
  </div> -->

</div>
<!-- <div class="row text-center report-section" *ngIf="showButton">
  <div class="col-lg-12">
    <button type="button" (click)="showReport()" class="btn btn-info btn-sm reports-button">Reports</button>
</div>
</div> -->

 <!-- Tab Content -->
  <!-- <ng-template #General>
    <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">    
          <div class="table-responsive">
            <table class="table table-bordered mb-0">

              <thead>
                <tr>
                  <th>Name</th>
                  <th>Location</th>
                  <th>Quota</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>My Project</td>
                  <td>Test</td>
                  <td>3GB</td>
                </tr>
                <tr>
                  <td>My Project</td>
                  <td>Test</td>
                  <td>3GB</td>
                </tr>
                 <tr>
                  <td>My Project</td>
                  <td>Test</td>
                  <td>3GB</td>
                </tr>
                 <tr>
                  <td>My Project</td>
                  <td>Test</td>
                  <td>3GB</td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>

  </div>
  </ng-template> -->

  <!-- Tab Content -->
  <!-- <ng-template > -->
   <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">    
          <div class="table-responsive">
            <table class="table table-bordered mb-0">
              <thead>
                <tr>
                  <th>Report</th>
                  <th>Date</th>
                  <th>123</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of reports;let i = index" (click)="ClickedRow(i)" [ngClass]="{'active': HighlightRow == i}">
                  <td>{{row.name}}</td>
                  <td>{{row.date}}</td>
                  <td>{{row.year}}</td>
                  <td>{{row.action}}</td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>

  </div>
  <!-- </ng-template> -->

  <!-- Standard Modal -->
<ng-template #content role="document" let-modal>
  <div class="modal-header">
    <h6 class="modal-title mt-0">Request for Harbor Project</h6>
    <button type="button" class="close" aria-hidden="true" (click)="modal.dismiss('Cross click')">×</button>
  </div>
  <div class="modal-body">
    <div class="form-group row">
            <label for="example-text-input" class="col-md-2 col-form-label">Name</label>
            <div class="col-md-10">
              <input class="form-control form-control-sm" type="text" value="" id="example-text-input">
            </div>
      </div>

      <div class="form-group row">
            <label class="col-md-2 col-form-label">Purpose</label>
            <div class="col-md-10">
              <select class="form-control form-control-sm">
                <option>Test</option>
                <option>Test1</option>
              </select>
            </div>
      </div>

       <div class="form-group row">
            <label for="example-text-input" class="col-md-2 col-form-label">Location</label>
            <div class="col-md-10">
              <input class="form-control form-control-sm" type="text" value="" id="example-text-input">
            </div>
      </div>

       <div class="form-group row">
            <label for="example-text-input" class="col-md-2 col-form-label">Storage</label>
            <div class="col-md-6">
              <input class="form-control form-control-sm" type="text" value="" id="example-text-input">
            </div>
            <div class="col-md-4">
              <select class="form-control form-control-sm">
                <option>GB</option>
                <option>1GB</option>
              </select>
            </div>
      </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light btn-sm" (click)="modal.close('Close click')">Close</button>
    <button type="button" class="btn btn-primary btn-sm">Request Container Registry Space</button>
  </div>
</ng-template>


